<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mw.consumer.dao.interfaces.IConsumerStatisticDao">

    <resultMap id="dictionaryResultMap" type="ConsumerStatistic">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="perday_cost" property="perday_cost" jdbcType="DOUBLE"/>
        <result column="userid" property="userId" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getById" parameterType="long" resultType="ConsumerStatistic">
        select * from consumer_statistic where id=#{id}
    </select>


</mapper>