<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.mw.consumer.dao.interfaces.IUserDao">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类
    -->
    <!--根据id查询得到一个user对象-->

    <resultMap id="userResultMap" type="User">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="userid" property="userId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="VARCHAR"/>

        <result column="cost_morning" property="cost_morning" jdbcType="DOUBLE"/>
        <result column="cost_noon" property="cost_noon" jdbcType="DOUBLE"/>
        <result column="cost_afternoon" property="cost_afternoon" jdbcType="DOUBLE"/>
    </resultMap>

    <select id="getById" parameterType="long" resultType="User">
        select * from user where id=#{id}
    </select>

    <select id="getAll" resultType="User">
        select * from user
    </select>

    <insert id="insert" parameterType="User">
        INSERT INTO user (id,userid,name,cost_morning,cost_noon,cost_afternoon,nickname,description,date)
        VALUES
        (#{id},#{userId},#{name},#{cost_morning},#{cost_noon},#{cost_afternoon},#{nickName},#{description},#{date})
    </insert>

    <update id="update" parameterType="User">
        update user
        <set>
            <trim prefixOverrides=",">
                <if test="id != null and id != ''">,id=#{id}</if>
                <if test="userId != null and userId != ''">,userid=#{userId}</if>
                <if test="name != null and name != ''">,name=#{name}</if>
                <if test="cost_morning != null and cost_morning != ''">,cost_morning=#{cost_morning}</if>
                <if test="cost_noon != null and cost_noon != ''">,cost_noon=#{cost_noon}</if>
                <if test="cost_afternoon != null and cost_afternoon != ''">,cost_afternoon=#{cost_afternoon}</if>
                <if test="nickName != null and nickName != ''">,nickname=#{nickName}</if>
                <if test="description != null and description != ''">,description=#{description}</if>
                <if test="date != null and date != ''">,date=#{date}</if>
            </trim>
        </set>
        where
        id=${id}
    </update>


</mapper>